.App {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media screen and (max-width:500px) {
  .rightside{ 
     display: none;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.wrapper {
  width: 100%;
  height: 80vh;
  margin: 0px 0px;
  display: flex;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
}

.alternative {
  visibility: hidden;
  position: absolute;
  color: white;
  left: 0;
  right: 0;
  top: 40%;
  bottom: 0;
  margin: auto;
  text-align: center;
}



@media only screen and (max-width: 1000px) {
  .wrapper {
    display: none;
  }
  .alternative {
    visibility: visible;
  }
}





.rightside {
  width: 25vw;

  height: 42vw;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: #9a8572;
}

.joinChatContainer {
  display: flex;
  height: 100%;
  justify-content: center ;
  text-align: center;
  flex-direction: column;
  margin: 5% 0;
  min-width: 500px;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-top: 2%;
  height: 10%;
  margin-bottom: 1rem;
  align-self: center;
  max-width: 80vw;
  
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  border: 2px solid rgba(88, 103, 221, 0.554);
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  align-self: center;
  margin: 1% 0;

}

.joinChatContainer button {
  width: 225px;
  margin: 1% 0;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background:  rgba(255, 193, 7, 1);
  color: black;
  cursor: pointer;
  align-self: center;
}

.joinChatContainer button:hover {
  background: rgb(220, 165, 0);
}

.modalmain {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 5%;
  overflow: scroll;
  
}

.themediv {
  text-align: center;
  margin: 2%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.themeboard {
  text-align: center;
  display: flex;
  font-weight: bold;
  justify-content: center;
  border-radius: 10%;
  height: 80%;
  width: 90%;
}

.themecontainer {
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 10%;
  height: 80%;
  width: 20%;
  margin: 5%;
}

.themeball {
  justify-content: center;
  border-radius: 50%;
  height: 1.6rem;
  width: 1.6rem;
  margin: 5%;
}