.App {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media screen and (max-width:500px) {
  .rightside{ 
     display: none;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.wrapper {
  width: 100%;
  height: 80vh;
  margin: 0px 0px;
  display: flex;
  justify-content: center;

  font-family: 'Orbitron', sans-serif;
}

.rightside {
  width: 25vw;

  height: 42vw;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: #9a8572;
}

.joinChatContainer {
  display: flex;
  justify-content: center !important;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid rgba(88, 103, 221, 0.554);
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background:  rgba(255, 193, 7, 1);
  color: black;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: rgb(220, 165, 0);
}